{% extends "reviews/base.html" %}
 {% block content %}
 {% load static %}
 <title>Contact Us - TheVaultReviews</title>
 <link rel="stylesheet" href="{% static 'reviews/css/contact_us.css' %}">
 <div class="contact-container">
    <h1>Contact Us</h1>
    <p>Thank you for your interest in contacting TheVaultReviews. Whether you have questions, feedback, or want to inquire about advertising opportunities, we’re here to assist you.</p>

    <h2>General Inquiries</h2>
    <p>If you have any questions regarding our website, reviews, or any of the services we offer, please don't hesitate to get in touch with us at:</p>
    <p><strong>Email:</strong> <a href="mailto:support@TheVaultReviews.com">support@TheVaultReviews.com</a></p>
    <p>Our team strives to respond to all inquiries within 48 hours, but please allow for additional time during holidays or weekends.</p>

    <h2>Advertising Opportunities</h2>
    <p>Are you interested in promoting your product or service on TheVaultReviews? We offer various advertising solutions tailored to fit your needs, including sponsored content, product placements, and banner ads. Please contact us with details about your advertising needs, and we will be happy to provide you with a customized solution.</p>

    <p><strong>Advertising Email:</strong> <a href="mailto:advertising@TheVaultReviews.com">advertising@TheVaultReviews.com</a></p>
    <p><strong>Business Hours:</strong> Monday to Friday, 9 AM - 5 PM (EST)</p>

    <h2>Media Inquiries</h2>
    <p>If you are a member of the media and would like to speak to someone from our team, please contact us at:</p>
    <p><strong>Media Email:</strong> <a href="mailto:media@TheVaultReviews.com">media@TheVaultReviews.com</a></p>
    <p>We’re happy to provide information, arrange interviews, or offer commentary for press purposes.</p>

    <h2>Social Media</h2>
    <p>You can also follow and reach out to us on our social media platforms for updates, announcements, and more:</p>
    <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="https://x.com/TheVaultReviews">X</a></li>
        <li><a href="#">LinkedIn</a></li>
    </ul>

    <h2>Feedback</h2>
    <p>We value your feedback and are constantly looking to improve. If you have suggestions, comments, or even concerns, feel free to reach out to us at <a href="mailto:feedback@TheVaultReviews.com">feedback@TheVaultReviews.com</a>.</p>
</div>
{% endblock %}