{% extends "reviews/base.html" %}

{% block content %}
{% load review_extras %}
{% load static %}
{% load compress %}

{% compress css %}
<link rel="stylesheet" href="{% static 'reviews/css/category_reviews.css' %}">
{% endcompress %}

    <div class="review-list"> <!-- Updated class to match category layout -->
        <h1 class="text-center"> {% render_stars rating %} <br> Reviews</h1>
        <div id="toolbar" class="toolbar">
            <div class="toolbar-content">
                <a href="?sort=date" class="toolbar-btn" id="sort-date" data-tooltip="Sort by Date">
                    <i class="bx bx-calendar"></i>
                </a>
                <button class="toolbar-btn" id="toggle-view" data-tooltip="Toggle View">
                    <i class="bx bx-grid-alt"></i>
                </button>
            </div>
        </div>
        
        <!-- Display a message if no reviews are found -->
        {% if not reviews %}
            <h4 class="text-center">No reviews found for this rating.</h4><br>
            <p class="text-center">But don't worry, there are plenty of other reviews to see!</p></br>
            <button class="btn btn-dark btn-md text-center w-25 m-auto"><a href="/">Return to homepage</a></button>
        {% else %}
            <div id="reviews-container" class="review-cards"> <!-- Consistent class usage -->
                {% include 'reviews/review_list_partial.html' %}
            </div>
        {% endif %}
    </div>
    <input type="hidden" id="current-page" value="1">
    <input type="hidden" id="has-more" value="{{ reviews.has_next }}">
{% endblock %}

{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButton = document.getElementById("toggle-view");
        const reviewsContainer = document.getElementById("reviews-container");
    
        toggleButton.addEventListener("click", function () {
            if (reviewsContainer.classList.contains("review-cards")) {
                // Switch to list view
                reviewsContainer.classList.remove("review-cards");
                reviewsContainer.classList.add("review-list-view");
            } else {
                // Switch to card view
                reviewsContainer.classList.remove("review-list-view");
                reviewsContainer.classList.add("review-cards");
            }
        });
    });
</script>
{% endblock %}