{% extends "reviews/base.html" %}

{% block head %}
<head>
    <meta name="description" content="{{ review.content|truncatewords:30 }}">
    <meta name="keywords" content="{% for tag in review.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}">
    <meta property="og:type" content="article">
</head>
{% endblock %}

{% block content %}
{% load static %}
{% load compress %}
{% load review_extras %}

{% compress css %}
<link rel="stylesheet" onload="this.media='all'" href="{% static 'reviews/css/review_detail.css' %}">
{% endcompress %}

<div class="review-detail-container">
    <div class="review-detail-content">
        {% load breadcrumbs %}
        <nav aria-label="Breadcrumb navigation">
            <ol class="breadcrumb">
                {% breadcrumbs %}
            </ol>
        </nav>

        {% if review.image %}
            <div class="image text-center">
                <img src="{{ review.image.url }}" alt="Image of {{ review.title }}" class="img-fluid fixed-height-img" aria-labelledby="reviewContent">
            </div>
        {% endif %}
    

        <div class="d-flex justify-content-between">
            <div class="details">
                <p class="review-meta">By {{ review.author }} | {{ review.publication_date|date:"F j, Y" }}</p>
            </div>
        </div>

        <h1 class="review-title text-center">{{ review.title }}</h1>

        {%if review.pros %}
            <!-- Navigation Links with Styling -->
            <nav aria-label="Section Links" class="text-center mt-3">
                <a href="#pros-cons" class="btn btn-link">Jump to Pros & Cons</a> |
                <a href="#key-features" class="btn btn-link">Jump to Features</a>
            </nav>
        {% endif %}


        <article class="product-info-container mt-4">
            <h2>Product Information & Ratings</h2>
            <div class="row mt-4 flex-row-center">
                <div class="col-md-4">
                    <strong>Rating:</strong>
                    <span class="stars" aria-label="Rating out of 5">
                        {% render_stars review.rating %}
                    </span>
                </div>
        
                {% if review.product_code %}
                <div class="col-md-4">
                    <strong>Product Code:</strong> {{ review.product_code }}
                </div>
                {% endif %}
        
                <div class="col-md-4">
                    <strong class="check-text">Check it out:</strong>
                    <a href="{{ review.product_link }}" target="_blank" class="btn btn-primary" aria-label="Get latest pricing">
                        Get the latest pricing
                    </a>
                </div>                
            </div>
        
            <!-- Additional Ratings -->
            <div class="row mt-3 flex-row-center">
                {% if review.durability %}
                <div class="col-md-4">
                    <strong>Durability:</strong>
                    <span class="stars">{% render_stars review.durability %}</span>
                </div>
                {% endif %}
        
                {% if review.ease_of_use %}
                <div class="col-md-4">
                    <strong>Ease of Use:</strong>
                    <span class="stars">{% render_stars review.ease_of_use %}</span>
                </div>
                {% endif %}
        
                {% if review.value_for_money %}
                <div class="col-md-4">
                    <strong>Value for Money:</strong>
                    <span class="stars">{% render_stars review.value_for_money %}</span>
                </div>
                {% endif %}
            </div>
        </article>
        <hr>
        

        <!-- Review Content -->
        <section class="review-content review-text mt-3" id="reviewContent" aria-labelledby="reviewContentHeading">
            <h2 id="reviewContentHeading">Review Summary</h2>
            {{ review.content|safe }}
        </section>
        <hr>

        <!-- Pros and Cons Section -->
        {% if review.pros or review.cons %}
        <section id="pros-cons">
            <div class="pros-cons-container mt-4">
                <div class="col-md-6">
                    <h3>Pros</h3>
                    <ul class="list-group">
                        {% if review.pros %}
                            {% for pro in review.pros.splitlines %}
                                <li class="list-group-item" style="display: inline-flex; align-items: center;">
                                    <i style="font-size:1.8rem; color:green; margin-right: 10px;" class='bx bx-check'></i>
                                    <span>{{ pro }}</span>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item"><em>No pros listed</em></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Cons</h3>
                    <ul class="list-group">
                        {% if review.cons %}
                            {% for con in review.cons.splitlines %}
                                <li class="list-group-item" style="display: inline-flex; align-items: center;">
                                    <i style="font-size:1.8rem; color:red; margin-right: 10px;" class='bx bx-x'></i>
                                    <span>{{ con }}</span>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li class="list-group-item"><em>No cons listed</em></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </section>
        {% endif %}

        <!-- Key Features Section -->
        {% if review.features %}
        <section class="features-container mt-4" id="key-features">
            <h3 class="text-center">Key Features</h3>
            <ul class="list-group">
                {% for feature in review.features.splitlines %}
                    <li class="list-group-item" style="display: inline-flex; align-items: center;">
                        <i style="font-size:1.8rem; margin-right: 10px;" class='bx bx-right-arrow-alt'></i>
                        <span>{{ feature }}</span>
                    </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
        
        <!-- Purchase Link -->
        <section class="purchase mt-4">
            <p class="text-center">
                <a style="font-size: 1.4rem;" href="{{ review.product_link }}" target="_blank" rel="noopener noreferrer" class="btn btn-primary" aria-label="Get the best deal for this product">
                    Like the look of this product? Click here to get the best deal now!
                </a>
            </p>  
        </section>

        <!-- Tags Section -->
        <section class="tags mt-4">
            <p class="text-center">
                Tags:
                {% for tag in review.tags.all %}
                    <a href="{% url 'tagged_reviews' tag.slug %}" class="tag-link" aria-label="Tag: {{ tag.name }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>  
        </section>

        <!-- Related Reviews Section -->
        <section class="related-content mt-4">
            <h3>Related Reviews</h3>
            <div class="related-reviews-container">
                {% for related_review in related_reviews %}
                    <div class="related-review-item">
                        <a href="{% url 'review_detail' related_review.slug %}" aria-label="Read related review: {{ related_review.title }}">
                            <div class="related-review-image">
                                <img src="{{ related_review.image.url }}" alt="{{ related_review.title }}" class="img-fluid">
                            </div>
                            <div class="related-review-info">
                                <h4>{{ related_review.title }}</h4>
                                <p>{{ related_review.content|safe|slice:":100" }}...</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Review",
    "itemReviewed": {
    "@type": "Product",
    "name": "{{ review.title }}",
    "productID": "{{ review.product_code }}",
    "url": "{{ review.product_link }}",
    "image": "{{ review.image.url }}",
    "description": "{{ review.content|truncatewords:30 }}",
    "offers": {
        "@type": "Offer",
        "url": "{{ review.product_link }}",
        "priceCurrency": "GBP",
        "price": "{{ review.price }}",
        "availability": "https://schema.org/InStock",
        "priceValidUntil": "{{ review.price_valid_until|default_if_none:'2025-12-31' }}"
    },
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "{{ review.rating }}",
        "reviewCount": "{{ review.review_count|default:1 }}"
    }
    },
    "author": {
    "@type": "Person",
    "name": "{{ review.author }}"
    },
    "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ review.rating }}",
    "bestRating": "5",
    "worstRating": "0"
    },
    "reviewBody": "{{ review.content|truncatewords:20 }}",
    "datePublished": "{{ review.publication_date|date:'Y-m-d' }}",
    "publisher": {
    "@type": "Organization",
    "name": "The Vault Reviews"
    },
    "pros": [
    {% for pro in review.pros.splitlines %}
        "{{ pro }}"{% if not forloop.last %},{% endif %}
    {% endfor %}
    ],
    "cons": [
    {% for con in review.cons.splitlines %}
        "{{ con }}"{% if not forloop.last %},{% endif %}
    {% endfor %}
    ],
    "keyFeatures": [
    {% for feature in review.features.splitlines %}
        "{{ feature }}"{% if not forloop.last %},{% endif %}
    {% endfor %}
    ]
}
</script>
    
    {% endblock%}
    
