{% extends "reviews/base.html" %}

{% block content %}
{% load static %}
{% load compress %}
{% load review_extras %}
{% compress css %}
<link rel="stylesheet" href="{% static 'reviews/css/category_reviews.css' %}">
{% endcompress %}

<!-- Display the Category as a Header -->

<div id="toolbar" class="toolbar">
    <div class="toolbar-content">
        <a href="?sort=date" class="toolbar-btn" id="sort-date">
            <i class="bx bx-calendar"></i>
        </a>
        <a href="?sort=rating" class="toolbar-btn" id="sort-rating">
            <i class="bx bx-star"></i>
        </a>
        <button class="toolbar-btn" id="toggle-view">
            <i class="bx bx-grid-alt"></i>
        </button>
    </div>
</div>

<h1 class="text-center">Reviews Tagged with "{{ tag.name }}"</h1>

<!-- Review List Container -->
<div class="review-list">
    <div id="reviews-container" class="review-cards"> <!-- Default is card view -->
        {% if reviews %}
            {% include 'reviews/review_list_partial.html' %}
        {% else %}
            <p class="text-center">No reviews found for this category.</p>
        {% endif %}
    </div>
</div>

<input type="hidden" id="current-page" value="1">
<input type="hidden" id="has-more" value="{{ reviews.has_next }}">

{% endblock %}


{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButton = document.getElementById("toggle-view");
        const reviewsContainer = document.getElementById("reviews-container");
    
        toggleButton.addEventListener("click", function () {
            if (reviewsContainer.classList.contains("review-cards")) {
                // Switch to list view
                reviewsContainer.classList.remove("review-cards");
                reviewsContainer.classList.add("review-list-view");
            } else {
                // Switch to card view
                reviewsContainer.classList.remove("review-list-view");
                reviewsContainer.classList.add("review-cards");
            }
        });
    });
</script>
{% endblock %}
